[submodule "vendor/pages"]
	path = vendor/pages
	url = https://github.com/kitty-crow/github-pages-template
[submodule "vendor/vectoriser"]
	path = vendor/vectoriser
	url = https://github.com/kitty-crow/vectoriser
[submodule "vendor/unicode-grid"]
	path = vendor/unicode-grid
	url = https://github.com/kitty-crow/braille-qr
